<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Angular examples</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="myAppCtrl">
<table>
    Search: <input ng-model="query">
    <tr>
        <th><a href="" ng-click="sortFields('name')">Name</a></th>
        <th><a href="" ng-click = "sortFields('population')">Population</a></th>
    </tr>
    <tr ng-repeat="country in countries | filter: query | orderBy: sortField: reverse ">
        <td>{{ country.name }}</td>
        <td>{{ country.population }}</td>
    </tr>
</table>
</body>
</html>